@use "mixins" as *;

@keyframes rotate {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.BuiltWith {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  transform-origin: center;
  animation: rotate 15s linear infinite forwards;
  display: none;

  @include mq(lg) {
    display: flex;
  }

  .Inner {
      
  }
}
