@use "mixins" as *;

.Card {
  padding: 2.5rem 1.5rem;
  border: 1px solid var(--dark-1);
  max-width: 560px;
  position: relative;
  transition: border var(--transition);

  @include mq(lg) {
    padding: 3.5rem 2rem;
  }

  h2 {
    margin-top: 1.5rem;

    @include mq(lg) {
      margin-top: 2rem;
    }
  }

  p {
    font-size: 20px;
  }
  img {
    object-fit: contain;
  }

  a {
    color: var(--light-b);
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    background-color: var(--accent-b);
    color: var(--light-b);
    width: 100%;
    margin-top: 1.5rem;
    user-select: none;
    font-family: var(--heading-font);
    text-transform: uppercase;
    font-size: 12px;

    @include mq(lg) {
      padding-inline: 1.75rem;
      margin-top: 2.5rem;
      width: fit-content;
    }

    &::before {
      display: none;
    }
  }

  &:hover {
    border-color: var(--light-1);
  }
}
