@use "mixins" as *;

.Experience {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-block: 2.5rem;
  border-bottom: 1px solid var(--dark-1);
  gap: 1rem;

  @include mq(lg) {
    padding-block: 4rem;
    align-items: center;
    flex-direction: row;
    gap: 0;
  }
}

.info {
  flex: 1.5;

  h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: hidden;
  }
}

.divider {
  width: 1px;
  background-color: var(--dark-1);
  display: none;

  @include mq(lg) {
    display: flex;
  }
}

.extraInfo {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  @include mq(lg) {
    gap: 1rem;
    flex-direction: row;
  }

  p {
    margin: 0;
  }

  .timeFrame {
    opacity: 0.5;
  }
}

.description {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  p {
    font-size: 1rem;
    margin: 0;
  }
}

.cases {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  li {
    color: var(--light-b);
  }
}
