@use "mixins" as *;

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: var(--dark-b);
  pointer-events: none;

  @include mq(lg) {
    padding-inline: 4rem;
    padding-block: 2rem;
    background-color: transparent;
  }

  * {
    pointer-events: all;
  }
}

.logo {
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    opacity: 0.75;
  }

  &:active,
  &:focus-within {
    opacity: 0.5;
    transform: translateY(4px);
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;

  @include mq(lg) {
    gap: 2rem;
  }

  .locale {
    margin: 0;
    font-family: var(--heading-font);
    color: var(--light-b);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    transition: var(--transition);

    &:hover {
      opacity: 0.75;
    }

    &:active,
    &:focus-within {
      opacity: 0.5;
      transform: translateY(4px);
    }
  }
}

.menuToggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    width: 4rem;
    height: 2px;
    background-color: var(--light-b);
    transition: var(--transition);
    transform-origin: right;

    &[data-number="1"] {
      transform-origin: left;
    }

    &[data-number="3"] {
      transform-origin: left;
    }
  }

  &:hover {
    span {
      &[data-number="1"] {
        transform: scaleX(0.85) translateX(-4px);
      }
      &[data-number="2"] {
        transform: scaleX(0.85) translateX(4px);
      }
      &[data-number="3"] {
        transform: scaleX(0.85) translateX(-4px);
      }
    }
  }

  &[data-active="true"] {
    span {
      &[data-number="1"] {
        transform: scaleX(0.5) translateX(50%) translateY(2px) rotate(10deg);
      }
      &[data-number="2"] {
        transform: scaleX(0) translateX(0px);
        opacity: 0;
      }
      &[data-number="3"] {
        transform: scaleX(0.5) translateX(50%) translateY(-2px) rotate(-10deg);
      }
    }
  }
}
