@use "mixins" as *;

.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 1.5rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  background-color: var(--dark-b);

  @include mq(lg) {
    padding-inline: 4rem;
    padding-block: 2rem;
    background-color: transparent;
  }
}

.logo {
  cursor: pointer;
  transition: var(--transition);

  &:hover {
    opacity: 0.5;
  }
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;

  .locale {
    margin: 0;
    font-family: var(--heading-font);
    color: var(--light-b);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
  }
}

.menuToggle {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

  span {
    width: 4rem;
    height: 2px;
    background-color: var(--light-b);
    transition: var(--transition);
    transform-origin: right;

    &[data-number="1"] {
      transform-origin: left;
    }

    &[data-number="3"] {
      transform-origin: left;
    }
  }

  &:hover {
    span {
      &[data-number="1"] {
        transform: scaleX(0.85) translateX(-4px);
      }
      &[data-number="2"] {
        transform: scaleX(0.85) translateX(4px);
      }
      &[data-number="3"] {
        transform: scaleX(0.85) translateX(-4px);
      }
    }
  }
}
