@use "mixins" as *;

.container {
  padding-block: 5rem 1rem;
  padding-inline: 1.5rem;

  @include mq(lg) {
    padding-block: 10rem 4rem;
    padding-inline: 4rem;
  }
}

.main {
  min-height: 100vh;
  width: 100%;
  max-width: 1248px;
  margin-inline: auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;

  @include mq(lg) {
    gap: 7rem;
  }
}

.row {
  display: flex;
  gap: 1.5rem;
  margin-top: 2.5rem;
  flex-direction: column;

  @include mq(lg) {
    gap: 2.5rem;
    margin-top: 3.5rem;
    flex-direction: row;
  }
}

.githubProjects {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;

  @include mq(lg) {
    gap: 2.5rem;
  }
}
