@use "mixins" as *;

.Project {
  padding: 1rem;
  border: 1px solid var(--dark-1);
  flex: 1;
  min-width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  transition: border var(--transition);

  @include mq-max(lg) {
    aspect-ratio: 16 / 7;
  }

  h3,
  p {
    margin: 0;
    transition: var(--transition);
  }

  &::before {
    display: none;
  }

  &:hover {
    border-color: var(--light-1);
  }
}
